# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env
.venv/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Pytest
# ==========================================

.pytest_cache/
htmlcov/
.coverage

# ==========================================
# Allure Reports
# ==========================================

allure-results/
allure-report/

# ==========================================
# Generated Test Artifacts
# ==========================================

reports/
screenshots/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db
